<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio de mi app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/primera-pagina">
      <ion-label>Primera Página</ion-label>
    </ion-item>
    <ion-item routerLink="/segunda-pagina">
      <ion-label>Segunda Página</ion-label>
    </ion-item>
    <ion-item routerLink="/tercera-pagina">
      <ion-label>Tercera Página</ion-label>
    </ion-item>
    <ion-item routerLink="/cuarta-pagina">
      <ion-label>Cuarta Página</ion-label>
    </ion-item>
    <ion-item routerLink="/quinta-pagina">
      <ion-label>Quinta Página</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

    